@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff")
            format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff")
            format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff")
            format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff")
            format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 35px auto;
    width: 80%;
}

nav {
    padding-bottom: 15px;
    margin-bottom: -20px;
    /* border-bottom: 1px solid #d5d5d5; */
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li {
    font-size: 3vw;
    font-size: min(3.5vw, 1.5rem);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.1em;
}

img {
    max-width: 100%;
}

.about-blurb img {
    /* float: left;
    max-width: 33.5%;
    margin-right: 25px; */
    max-width: 100%;
}

p {
    text-align: justify;
}

.red {
    color: rgb(255, 107, 67); /* ayu dark */
    color: rgb(234, 202, 139); /* atom */
    color: rgb(215, 58, 73); /* github light */
}

.green {
    color: rgb(126, 231, 120); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(34, 134, 58); /* github light */
}

.blue {
    color: rgb(121, 192, 255); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(0, 92, 197); /* github light */
}

.white {
    color: white; /* ayu dark, atom */
    color: rgb(36, 41, 46); /* github light */
}

.gray {
    color: rgb(106, 115, 125);
}

.bold {
    font-weight: bold;
}

body {
    background-color: rgb(13, 17, 23); /* ayu dark */
    background-color: rgb(26, 26, 26); /* atom */
    background-color: white; /* github light */
    /* margin-bottom: 120px; */
}

.mono {
    font-family: "JetBrains Mono";
}

.cairo {
    font-family: cairo;
}

.closing-brace {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: -4vw;
}

.footer-list {
    margin-top: 25px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.9rem;
    margin-top: 30px;
    padding-bottom: 50px;
    /* position: fixed;
    width: 80%;
    height: 100px;
    bottom: 0px;
    margin-bottom: 0px;
    background-color: white; */
}

.image-mobile {
    display: none;
}

.image-desktop {
    display: inline;
}

.footer-links {
    float: right;
    text-align: right;
    width: 90%;
    max-width: min(35vw, 500px);
    height: 50px;
    margin-left: -2px;
    margin-top: 10px;
    padding-left: 0px;
    display: table;
}

.link-item {
    margin-right: 3vw;
    display: table-cell;
    vertical-align: middle;
}

footer img {
    height: 7vw;
    min-height: 24px;
    max-height: 40px;
    opacity: 0.5;
    display: table-cell;
    vertical-align: middle;
}

footer img:hover {
    opacity: 1;
}

.footer-copyright {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-left: max(40px, 3vw);
    font-size: 1.25rem;
}

@media (max-aspect-ratio: 5/7) {
    h1 {
        font-size: 1.9rem;
        font-size: 8.1vw;
    }

    nav {
        font-size: 0.95rem;
        margin-right: -20px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .footer-links {
        max-width: 80vw;
    }

    .footer-copyright {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .image-mobile {
        display: inline;
    }

    .image-desktop {
        display: none;
    }
}
