@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Thin.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 35px auto;
  width: 75vw;
  background-color: rgb(13, 17, 23); /* ayu dark */
  background-color: rgb(26, 26, 26); /* atom */
  background-color: white; /* github light */
  color: rgb(36, 41, 46); /* github light */
}

html {
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

iframe {
  width: 100%;
  height: 37.5vw;
  color: white;
  margin-top: 0.5rem;
}

nav {
  margin-top: 0rem;
  margin-bottom: min(5vw, 3.5rem);
}

nav ul {
  margin-right: -2rem;
  text-align: center;
}

nav ul li {
  font-size: 2.2rem;
  margin-right: 1.9rem;
  display: inline;
}

.code-nav li {
  margin-right: 1.8rem;
}

.video-nav li {
  margin-right: 1.6rem;
}

nav ul,
footer ul {
  padding: 0px;
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: rgb(36, 41, 46); /* github light */
}

p {
  font-size: 1.5rem;
  line-height: 1.15;
  text-align: justify;
  font-weight: 300;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: -1.55rem;
  width: max-content;
}

h2 {
  font-size: min(6vw, 3.25rem);
  margin-top: 1rem;
  margin-bottom: -0.25rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: min(4vw, 2.25rem);
  margin-top: 1.5rem;
  margin-bottom: -0.25rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

footer {
  border-top: 2px solid #d5d5d5;
  margin-top: 1rem;
  padding-bottom: 100px;
}

footer img:hover {
  opacity: 1;
}

.red {
  color: rgb(255, 107, 67); /* ayu dark */
  color: rgb(234, 202, 139); /* atom */
  color: rgb(215, 58, 73); /* github light */
}

.green {
  color: rgb(126, 231, 120); /* ayu dark */
  color: rgb(150, 150, 150); /* atom */
  color: rgb(34, 134, 58); /* github light */
}

.blue {
  color: rgb(121, 192, 255); /* ayu dark */
  color: rgb(150, 150, 150); /* atom */
  color: rgb(0, 92, 197); /* github light */
}

.purple {
  color: rgb(111, 66, 193); /* github light */
}

.orange {
  color: rgb(247, 108, 46); /* ayu dark */
  color: rgb(227, 98, 9); /* github light */
}

.yellow {
  color: rgb(255, 238, 153); /* ayu dark */
  color: rgb(219, 171, 9);
}

.pink {
  color: rgb(236, 108, 185); /* github light */
}

.black {
  color: white; /* ayu dark, atom */
  color: rgb(36, 41, 46); /* github light */
}

.white {
  color: white;
}

.gray {
  color: rgb(106, 115, 125);
  color: rgb(149, 157, 165);
}

.bold {
  font-weight: bold;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}

.weight-400 {
  font-weight: 400;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.side-image-left {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  float: left;
}

.side-image-right {
  width: 48%;
  margin-left: 4%;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  float: right;
}

.image-mobile {
  display: none;
}

.image-desktop {
  display: inline;
}

.no-underline {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: max-content;
}

.hidden {
  display: none;
}

.label {
  font-size: min(max(0.9rem, 1.8vw), 1.5rem);
  text-align: center;
  margin-top: 0.5vw;
  font-style: italic;
  font-weight: 200;
  margin-bottom: min(2vw, 2rem);
}

.closing-brace {
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 0px;
  margin-right: -4vw;
}

.link-container {
  border-top: 2px solid #d5d5d5;
  margin-top: -0.175rem;
  padding-top: 0.75rem;
  margin-bottom: 2vw;
}

.section-container {
  border-top: 2px solid #d5d5d5;
  padding: 0;
  overflow: hidden;
}

.footer-links {
  float: right;
  text-align: right;
  width: 350px;
  margin-left: -5%;
  max-width: 34vw;
  height: 40px;
  margin-top: 1.1rem;
  padding-left: 0;
  display: table;
  border-collapse: collapse;
}

.link-item {
  display: table-cell;
  vertical-align: middle;
  width: 15%;
}

.link-item a {
  height: 100%;
  vertical-align: middle;
}

.link-item img {
  max-height: 35px;
  opacity: 0.3;
  transition: opacity 0.25s;
  vertical-align: middle;
}

.footer-copyright {
  float: left;
  height: max(40px, 2.5vw);
  line-height: 3.1rem;
  margin-top: 1rem;
  margin-left: min(4vw, 50px);
  font-size: min(1.5vw, 1.2rem);
}

.home-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 40vw;
}

.portfolio-card {
  width: 100%;
  height: 25vw;
  max-height: 30vh;
  display: table;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5vw;
}

.menu-container {
  max-width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: min(3%, 2rem);
}

.menu-container a {
  flex-basis: 40%;
  margin-bottom: min(3%, 2rem);
  flex-grow: 1;
}

.photo-tile,
.code-tile,
.video-tile {
  width: 100%;
  height: 100%;
  filter: none;
  transition: filter 0.5s;
  position: relative;
}

.photo-tile:hover img,
.code-tile:hover img,
.video-tile:hover img {
  filter: brightness(25%);
}

.photo-tile img,
.code-tile img,
.video-tile img {
  filter: brightness(70%);
}

.tile-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  opacity: 0.85;
  transition: opacity 0.5s, color 0.25s;
}

.photo-tile .tile-title {
  font-size: max(min(5vw, 3.5rem), 1.25rem);
}

.code-tile .tile-title,
.video-tile .tile-title {
  font-size: min(5vw, 4rem);
}

.photo-tile:hover .tile-title,
.code-tile:hover .tile-title,
.video-tile:hover .tile-title {
  color: inherit;
  opacity: 1;
}

#code-card {
  background-position: 55% 50%;
}

#photo-card {
  /* orange i35 */
  /* background-position: 50% 0%; */
  background-position: 10% 100%;
}

#video-card {
  background-position: 49% 19%;
}

.link-card {
  width: 100%;
  margin: auto;
  height: 10vw;
  max-height: 125px;
  display: table;
  background-size: cover;
  background-position: center;
  margin-top: min(1vw, 20px);
  margin-bottom: min(1vw, 20px);
}

.card-title {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: min(6vw, 6rem);
  transition: opacity 0.5s, color 0.25s, background 0.25s;
}

.portfolio-card:hover .card-title,
.link-card:hover .card-title {
  visibility: visible;
  opacity: 1;
  color: inherit;
  background: rgba(0, 0, 0, 0.75);
}

.link-card .card-title {
  background: rgba(0, 0, 0, 0.35);
  opacity: 0.85;
  font-size: min(4vw, 3rem);
  color: inherit;
}

.link-card:hover .card-title {
  background: rgba(0, 0, 0, 0.55);
}

.photo-set-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

.carousel-container {
  /* border-bottom: 1px solid #d5d5d5; */
  padding-bottom: 0.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  user-select: none;
}

.slick-left,
.slick-right {
  display: none !important;
  user-select: none;
  padding-bottom: 6rem;
  margin-top: 0;
  color: rgb(36, 41, 46);
  transition: color 0.25s;
  font-size: min(4vw, 2.5rem);
}

.slick-left:hover,
.slick-right:hover {
  cursor: pointer;
  /* color: rgb(36, 41, 46); */
  color: rgb(149, 157, 165);
}

.slick-slide {
  user-select: none;
}

.photo {
  user-select: none;
  max-width: 75vw;
  max-height: 50vw;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
  user-select: default;
}

.gray-hover {
  transition: color 0.25s;
}

.gray-hover:hover {
  color: rgb(149, 157, 165);
}

.settings-table {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.settings-table p {
  text-align: center;
  color: rgb(106, 115, 125);
  /* color: rgb(149, 157, 165); */
}

.settings-table-titled {
  flex-wrap: wrap;
  display: flex;
}

.settings-table-titled > p:first-child {
  flex: 0 0 100%;
  color: rgb(36, 41, 46);
  font-weight: 300;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-style: italic;
}

.settings-table-titled > p:not(:first-child) {
  margin-top: 0;
  font-weight: 200;
  display: none;
}

.slick-dots {
  display: none !important;
}

.description {
  margin-top: -2rem;
}

@media (hover: hover) and (pointer: fine) {
  .portfolio-card:hover .card-title,
  .link-card:hover .card-title {
    background: rgba(0, 0, 0, 0.75);
  }
  .card-title {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }
  .link-card .card-title {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .no-underline:hover {
    text-decoration: none;
  }

  .slick-left,
  .slick-right {
    display: inline-block !important;
  }

  .photo-set-container {
    width: 100%;
  }

  .settings-table {
    width: 100%;
    justify-content: center;
    gap: 5%;
  }

  .slick-dots {
    display: block !important;
  }

  .description {
    margin-top: 1.25rem;
  }

  .settings-table-titled > p:first-child {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
}

@media (min-aspect-ratio: 3/2) and (min-width: 1440px) {
  body {
    width: 60vw;
  }

  .home-image {
    min-height: 35vw;
  }

  .photo {
    max-height: 40vw;
    max-width: 60vw;
  }

  iframe {
    height: 30vw;
  }
}

@media (min-aspect-ratio: 2/1) and (min-width: 1440px) {
  body {
    width: 45vw;
  }

  .home-image {
    min-height: 25vw;
  }

  .photo {
    max-height: 30vw;
    max-width: 45vw;
  }

  iframe {
    height: 22.5vw;
  }
}

@media (max-width: 820px) {
  h1 {
    font-size: 8.25vw;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  nav ul li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .code-nav li {
    margin-right: 0;
  }

  .video-nav li {
    margin-right: 0;
  }

  body {
    width: 80vw;
  }

  iframe {
    height: 40vw;
  }

  .footer-copyright {
    margin-top: 1rem;
    line-height: 25px;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: max(1rem, 2.25vw);
    line-height: 1.25;
  }

  .photo {
    max-width: 80vw;
    max-height: 52vw;
  }

  @media (hover: none), (pointer: coarse) {
    p,
    .label {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 8.15vw;
    margin-bottom: max(-1vw, -10px);
  }

  nav ul li,
  footer ul li {
    margin-right: 0px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0px 5px;
  }

  nav ul li {
    font-size: 4.25vw;
  }

  .footer-links {
    max-width: 75vw;
    width: 75vw;
  }
}

@media (max-aspect-ratio: 3/4) {
  body {
    width: 85vw;
  }

  iframe {
    height: 42.5vw;
  }

  .photo {
    max-width: 85vw;
    max-height: 85vh;
  }

  nav {
    margin-top: -1rem;
  }

  .card-title {
    font-size: 7vw;
  }

  .link-card {
    height: 14vw;
  }

  .link-card .card-title {
    font-size: 5vw;
  }

  .portfolio-card {
    height: 35vw;
    margin-top: 3vw;
    margin-bottom: 1.5vw;
  }

  h1 {
    font-size: 8.8vw;
    margin-bottom: max(-1vw, -10px);
  }

  nav ul li,
  footer ul li {
    margin-right: 0px;
  }

  .code-nav li {
    margin-right: 0;
  }

  .video-nav li {
    margin-right: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0px 5px;
  }

  nav ul li {
    font-size: 4.5vw;
  }

  .footer-links {
    max-width: 75vw;
    width: 75vw;
  }

  .footer-copyright {
    margin-top: 1rem;
    line-height: 25px;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 0.85rem;
    line-height: 1.25;
  }

  .image-mobile {
    display: inline;
  }

  .image-desktop {
    display: none;
  }

  .link-item img {
    max-width: min(55%, 80px);
    max-height: min(55%, 80px);
  }

  .code-menu-container a {
    flex-basis: 100%;
  }

  /* .code-menu-container {
    width: 65vw;
    margin-left: 10vw;
  } */

  .code-tile .tile-title,
  .video-tile .tile-title {
    font-size: 10vw;
  }

  .photo-tile .tile-title {
    font-size: max(min(3.25vw, 4rem), 1.25rem);
  }

  p {
    font-size: 1.025rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .label {
    margin-bottom: 1.25rem;
  }
}
