@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff")
            format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.red {
    color: rgb(255, 107, 67); /* ayu dark */
    color: rgb(234, 202, 139); /* atom */
    color: rgb(215, 58, 73); /* github light */
}

.green {
    color: rgb(126, 231, 120); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(34, 134, 58); /* github light */
}

.blue {
    color: rgb(121, 192, 255); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(0, 92, 197); /* github light */
}

.purple {
    color: rgb(111, 66, 193); /* github light */
}

.orange {
    color: rgb(247, 108, 46); /* ayu dark */
    color: rgb(227, 98, 9); /* github light */
}

.yellow {
    color: rgb(255, 238, 153); /* ayu dark */
    color: rgb(255, 223, 93);
}

.pink {
    color: rgb(236, 108, 185);
}

.black {
    color: white; /* ayu dark, atom */
    color: rgb(36, 41, 46); /* github light */
}

.white {
    color: white;
}

.gray {
    color: rgb(106, 115, 125);
}

.bold {
    font-weight: bold;
}

.mono {
    font-family: "JetBrains Mono";
}

.cairo {
    font-family: cairo;
}

body {
    margin: 35px auto;
    width: 80%;
    background-color: rgb(13, 17, 23); /* ayu dark */
    background-color: rgb(26, 26, 26); /* atom */
    background-color: white; /* github light */
}

h1 {
    font-size: min(7vw, 3.5rem);
    margin-bottom: max(-2vw, -20px);
    text-align: center;
}

nav {
    margin-top: -5px;
    margin-bottom: min(5vw, 40px);
}

nav ul {
    margin-right: -20px;
    text-align: center;
}

nav ul li {
    font-size: 2rem;
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: max(13.25pt, 2.4vw);
    line-height: 1.2;
    text-align: justify;
}

.center {
    text-align: center;
}

.label {
    font-size: max(12pt, 1.6vw);
    text-align: center;
    margin-top: 0.5vw;
}

img {
    max-width: 100%;
}

.closing-brace {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: -4vw;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.9rem;
    margin-top: 30px;
    padding-bottom: 100px;
}

.image-mobile {
    display: none;
}

.image-desktop {
    display: inline;
}

.footer-links {
    float: right;
    text-align: right;
    width: 90%;
    max-width: min(32vw, 500px);
    height: 50px;
    margin-left: -2px;
    margin-top: 10px;
    padding-left: 0px;
    display: table;
    border-collapse: collapse;
}

.link-item {
    display: table-cell;
    vertical-align: middle;
}

footer img {
    height: 3vw;
    min-height: 24px;
    max-height: 40px;
    opacity: 0.5;
    vertical-align: middle;
}

footer img:hover {
    opacity: 1;
}

.footer-copyright {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-left: max(45px, 3vw);
    font-size: min(2.1vw, 1.85rem);
}

.portfolio-card {
    width: 100%;
    height: 25vw;
    display: table;
    margin-bottom: 1.5vw;
}

.image-description {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 6vw;
}

.portfolio-card:hover .image-description {
    visibility: visible;
    opacity: 1;
    color: inherit;
    background: rgba(0, 0, 0, 0.75);
}

iframe {
    width: 100%;
    height: 40vw;
    color: white;
}

.no-underline:hover {
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover .image-description {
        background: rgba(0, 0, 0, 0.75);
        transition: opacity 0.3s, color 0.5s;
    }
    .image-description {
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.5;
        transition: opacity 0.3s, color 0.5s;
    }
}

@media (max-width: 750px) {
    .footer-copyright {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.25rem;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 8.15vw;
        margin-bottom: -15px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .footer-copyright {
        font-size: min(3vw, 1.1rem);
    }
}

@media (max-aspect-ratio: 5/7) {
    .image-description {
        font-size: 7vw;
    }

    .portfolio-card {
        height: 45vw;
        margin-bottom: 1.5vw;
    }

    h1 {
        font-size: 8.15vw;
        margin-bottom: max(-1vw, -10px);
    }

    nav ul li,
    footer ul li {
        margin-right: 0px;
    }

    nav {
        font-size: 0.95rem;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        font-size: min(4.25vw, 2rem);
    }

    .footer-links {
        max-width: min(80vw, 500px);
    }

    footer img {
        height: 6vw;
    }

    .footer-copyright {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: min(3vw, 1.2rem);
        line-height: 1.25;
    }

    .image-mobile {
        display: inline;
    }

    .image-desktop {
        display: none;
    }
}
