@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff")
            format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff")
            format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.red {
    color: rgb(255, 107, 67); /* ayu dark */
    color: rgb(234, 202, 139); /* atom */
    color: rgb(215, 58, 73); /* github light */
}

.green {
    color: rgb(126, 231, 120); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(34, 134, 58); /* github light */
}

.blue {
    color: rgb(121, 192, 255); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(0, 92, 197); /* github light */
}

.purple {
    color: rgb(111, 66, 193); /* github light */
}

.orange {
    color: rgb(247, 108, 46); /* ayu dark */
    color: rgb(227, 98, 9); /* github light */
}

.yellow {
    color: rgb(255, 238, 153); /* ayu dark */
    color: rgb(255, 223, 93);
}

.pink {
    color: rgb(236, 108, 185);
}

.black {
    color: white; /* ayu dark, atom */
    color: rgb(36, 41, 46); /* github light */
}

.white {
    color: white;
}

.gray {
    color: rgb(106, 115, 125);
}

.bold {
    font-weight: bold;
}

.mono {
    font-family: "JetBrains Mono";
}

.cairo {
    font-family: cairo;
    font-family: "Source Sans Pro";
    font-weight: 400;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

body {
    margin: 35px auto;
    width: 80%;
    background-color: rgb(13, 17, 23); /* ayu dark */
    background-color: rgb(26, 26, 26); /* atom */
    background-color: white; /* github light */
}

h1 {
    font-size: max(3.5rem, 3.5vw);
    margin-bottom: -1.55rem;
}

nav {
    margin-top: 0rem;
    margin-bottom: min(5vw, 4rem);
}

nav ul {
    margin-right: -1.5vw;
    text-align: center;
}

nav ul li {
    font-size: max(2rem, 2vw);
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 1.5vw;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.no-underline:hover {
    text-decoration: none;
}

p {
    font-size: max(1rem, 2.1vw);
    line-height: 1;
    text-align: justify;
}

.label {
    font-size: max(12pt, 1.6vw);
    text-align: center;
    margin-top: 0.5vw;
}

img {
    max-width: 100%;
}

.closing-brace {
    font-size: max(40px, 2.5vw);
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-right: -4vw;
}

footer {
    border-top: 1px solid #d5d5d5;
    margin-top: 1rem;
    padding-bottom: 100px;
}

.link-container {
    border-top: 1px solid #d5d5d5;
    margin-top: -0.175rem;
    padding-top: 0.75rem;
    margin-bottom: 2vw;
}

.image-mobile {
    display: none;
}

.image-desktop {
    display: inline;
}

.footer-links {
    float: right;
    text-align: right;
    width: 90%;
    max-width: 32vw;
    height: 50px;
    margin-left: -2px;
    margin-top: 1rem;
    padding-left: 0px;
    display: table;
    border-collapse: collapse;
}

.link-item {
    display: table-cell;
    vertical-align: middle;
}

footer img {
    height: min(3.5vw, 5vh);
    min-height: 24px;
    /* max-height: min(3.5vw, 5vh); */
    opacity: 0.5;
    vertical-align: middle;
}

footer img:hover {
    opacity: 1;
}

.footer-copyright {
    float: left;
    height: max(40px, 2.5vw);
    line-height: max(3.1rem, 3vw);
    margin-top: 1rem;
    margin-left: max(45px, 3vw);
    font-size: min(1.9vw, 1.5rem);
}

.home-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vw;
}

.portfolio-card {
    width: 100%;
    height: 25vw;
    max-height: 30vh;
    display: table;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5vw;
}

.link-card {
    width: 100%;
    margin: auto;
    height: 10vw;
    max-height: 18vh;
    display: table;
    background-size: cover;
    background-position: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.card-title {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: min(6vw, 7rem);
}

.link-card .card-title {
    background: rgba(0, 0, 0, 0.35);
    opacity: 0.85;
    font-size: min(4.5vw, 7rem);
}

.portfolio-card:hover .card-title,
.link-card:hover .card-title {
    visibility: visible;
    opacity: 1;
    color: inherit;
    background: rgba(0, 0, 0, 0.75);
}

.link-card:hover .card-title {
    background: rgba(0, 0, 0, 0.55);
}

iframe {
    width: 100%;
    height: 40vw;
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover .card-title,
    .link-card:hover .card-title {
        background: rgba(0, 0, 0, 0.75);
    }
    .card-title {
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.5;
        transition: opacity 0.3s, color 0.3s;
    }
}

@media (min-aspect-ratio: 3/2) {
    body {
        width: 85%;
    }

    .portfolio-container {
        display: flex;
        justify-content: space-between;
    }

    .portfolio-card {
        min-height: 75vh;
        min-width: 27vw;
        margin-bottom: 0vw;
    }

    .card-title {
        font-size: min(4vw, 7rem);
    }

    .home-image {
        min-height: 36vw;
    }
}

@media (max-width: 750px) {
    .footer-copyright {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.25rem;
    }

    .footer-links {
        max-width: 50vw;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 8.15vw;
        margin-bottom: -1.5rem;
    }

    body {
        width: 80%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .footer-copyright {
        font-size: min(3vw, 1.1rem);
    }
}

@media (max-aspect-ratio: 5/7) {
    nav {
        margin-top: -1rem;
    }

    .card-title {
        font-size: 7vw;
    }

    .portfolio-card {
        height: 35vw;
        margin-bottom: 1.5vw;
    }

    h1 {
        font-size: 8.15vw;
        margin-bottom: max(-1vw, -10px);
    }

    nav ul li,
    footer ul li {
        margin-right: 0px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        font-size: 4.25vw;
    }

    .footer-links {
        max-width: min(80vw, 40rem);
    }

    footer img {
        height: 6vw;
    }

    .footer-copyright {
        margin-top: 1rem;
        line-height: 25px;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: max(1rem, 2.25vw);
        line-height: 1.25;
    }

    .image-mobile {
        display: inline;
    }

    .image-desktop {
        display: none;
    }
}
