@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Thin.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Thin.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.red {
    color: rgb(255, 107, 67); /* ayu dark */
    color: rgb(234, 202, 139); /* atom */
    color: rgb(215, 58, 73); /* github light */
}

.green {
    color: rgb(126, 231, 120); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(34, 134, 58); /* github light */
}

.blue {
    color: rgb(121, 192, 255); /* ayu dark */
    color: rgb(150, 150, 150); /* atom */
    color: rgb(0, 92, 197); /* github light */
}

.purple {
    color: rgb(111, 66, 193); /* github light */
}

.orange {
    color: rgb(247, 108, 46); /* ayu dark */
    color: rgb(227, 98, 9); /* github light */
}

.yellow {
    color: rgb(255, 238, 153); /* ayu dark */
    color: rgb(255, 223, 93);
}

.pink {
    color: rgb(236, 108, 185); /* github light */
}

.black {
    color: white; /* ayu dark, atom */
    color: rgb(36, 41, 46); /* github light */
}

.white {
    color: white;
}

.gray {
    color: rgb(106, 115, 125);
    color: rgb(149, 157, 165);
}

.bold {
    font-weight: bold;
}

.mono {
    font-family: "JetBrains Mono";
}

.source {
    /* font-family: source; */
    font-family: "Source Sans Pro";
    font-weight: 300;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

body {
    margin: 35px auto;
    width: 80%;
    background-color: rgb(13, 17, 23); /* ayu dark */
    background-color: rgb(26, 26, 26); /* atom */
    background-color: white; /* github light */
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 40vw;
    color: white;
}

.image-mobile {
    display: none;
}

.image-desktop {
    display: inline;
}

.no-underline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: max-content;
}

h1 {
    font-size: max(3.5rem, 3.5vw);
    margin-bottom: -1.55rem;
    width: max-content;
}

nav {
    margin-top: 0rem;
    margin-bottom: min(5vw, 4rem);
}

nav ul {
    margin-right: -1.5vw;
    text-align: center;
}

nav ul li {
    font-size: max(2rem, 2vw);
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: max(1.7vw, 1.25rem);
}

a,
a:hover,
a:active {
    text-decoration: none;
}

p {
    font-size: min(max(1.15rem, 2.1vw), 2.5rem);
    line-height: 1;
    text-align: justify;
}

.hidden {
    display: none;
}

h2 {
    font-size: max(1.25rem, 3vw);
    /* margin-top: 1.5rem; */
    margin-bottom: 0.75rem;
}

.source-600 {
    font-family: "Source Sans Pro";
    font-weight: 600;
}

.label {
    font-size: max(0.9rem, 1.9vw);
    text-align: center;
    margin-top: 0.5vw;
}

.closing-brace {
    font-size: max(40px, 2.5vw);
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-right: -4vw;
}

footer {
    border-top: 1px solid #d5d5d5;
    margin-top: 1rem;
    padding-bottom: 100px;
}

.link-container {
    border-top: 1px solid #d5d5d5;
    margin-top: -0.175rem;
    padding-top: 0.75rem;
    margin-bottom: 2vw;
}

.footer-links {
    float: right;
    text-align: right;
    width: 90%;
    margin-left: -5%;
    max-width: 34vw;
    height: max(40px, 2.5vw);
    margin-top: 1.1rem;
    padding-left: 0;
    display: table;
    border-collapse: collapse;
}

.link-item {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.link-item a {
    height: 100%;
    vertical-align: middle;
}

.link-item img {
    max-width: min(70%, 50px);
    max-height: min(60%, 50px);
    opacity: 0.3;
    transition: opacity 0.25s;
    vertical-align: middle;
}

footer img:hover {
    opacity: 1;
}

.footer-copyright {
    float: left;
    height: max(40px, 2.5vw);
    line-height: max(3.5rem, 3vw);
    margin-top: 1rem;
    margin-left: max(45px, 3vw);
    font-size: min(1.9vw, 1.5rem);
}

.home-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vw;
}

.portfolio-card {
    width: 100%;
    height: 25vw;
    max-height: 30vh;
    display: table;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5vw;
}

.menu-container {
    max-width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: min(3%, 2rem);
}

.menu-container a {
    flex-basis: 40%;
    margin-bottom: min(3%, 2rem);
    flex-grow: 1;
}

.photo-card {
    width: 100%;
    height: 100%;
    filter: none;
    transition: filter 0.25s;
}

.photo-card:hover {
    filter: brightness(80%);
}

.card-code {
    background-position: 55% 50%;
}

.card-photo {
    /* orange i35 */
    /* background-position: 50% 0%; */
    background-position: 10% 100%;
}

.card-video {
    background-position: 49% 19%;
}

.link-card {
    width: 100%;
    margin: auto;
    height: 14vw;
    max-height: 18vh;
    display: table;
    background-size: cover;
    background-position: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.card-title {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    font-size: min(6vw, 7rem);
}

.portfolio-card:hover .card-title,
.link-card:hover .card-title {
    visibility: visible;
    opacity: 1;
    color: inherit;
    background: rgba(0, 0, 0, 0.75);
}

.link-card .card-title {
    background: rgba(0, 0, 0, 0.35);
    opacity: 0.85;
    font-size: min(4.5vw, 7rem);
    color: inherit;
}

.link-card:hover .card-title {
    background: rgba(0, 0, 0, 0.55);
}

.photo-set-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
}

.carousel-container {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 0.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    user-select: none;
}

.slick-left,
.slick-right {
    display: none !important;
    user-select: none;
    padding-bottom: 6rem;
}

.slick-left:hover,
.slick-right:hover {
    cursor: pointer;
    color: rgb(36, 41, 46);
}

.slick-slide {
    user-select: none;
}

.photo {
    user-select: none;
    max-height: min(85vh, 53vw);
    margin-left: auto;
    margin-right: auto;
}

.gray-hover {
    transition: color 0.25s;
}

.gray-hover:hover {
    color: rgb(149, 157, 165);
}

.settings-table {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.settings-table p {
    font-family: "Source Sans Pro";
    text-align: center;
    color: rgb(106, 115, 125);
    /* color: rgb(149, 157, 165); */
}

.settings-table-titled {
    flex-wrap: wrap;
}

.settings-table-titled > p:first-child {
    flex: 0 0 100%;
    margin-bottom: 0.5rem;
    color: rgb(36, 41, 46);
}

.settings-table-titled > p:not(:first-child) {
    margin-top: 0;
}

@media (hover: hover) and (pointer: fine) {
    .portfolio-card:hover .card-title,
    .link-card:hover .card-title {
        background: rgba(0, 0, 0, 0.75);
    }
    .card-title {
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.5;
        transition: opacity 0.5s, color 0.25s, background 0.25s;
    }
    .link-card .card-title {
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }

    .no-underline:hover {
        text-decoration: none;
    }

    .slick-left,
    .slick-right {
        display: inline-block !important;
    }

    .photo-set-container {
        width: 90%;
    }

    .settings-table {
        width: 100%;
        justify-content: center;
        gap: 5%;
    }

    .photo {
        max-height: min(85vh, 47vw);
    }
}

@media (min-aspect-ratio: 3/2) and (min-width: 1000px) {
    body {
        width: 70%;
    }

    .home-image {
        min-height: 35vw;
    }

    .footer-links {
        max-width: 30vw;
    }

    .footer-copyright {
        font-size: min(1.6vw, 1.5rem);
    }

    .photo {
        max-height: min(85vh, 46.67vw);
    }

    @media (hover: hover) and (pointer: fine) {
        .photo {
            max-height: min(85vh, 41vw);
        }
    }
}

@media (min-aspect-ratio: 2/1) and (min-width: 1000px) {
    body {
        width: 50%;
    }

    .home-image {
        min-height: 25vw;
    }

    .footer-links {
        max-width: 20vw;
    }

    .footer-copyright {
        font-size: min(1vw, 1.5rem);
    }

    .photo {
        max-height: min(85vh, 33vw);
    }

    @media (hover: hover) and (pointer: fine) {
        .photo {
            max-height: min(85vh, 29vw);
        }
    }
}

@media (max-width: 750px) {
    .footer-copyright {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.25rem;
    }

    .footer-links {
        max-width: 40vw;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 8.15vw;
        margin-bottom: -1.5rem;
    }

    body {
        width: 80%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .footer-copyright {
        font-size: min(3vw, 1.1rem);
    }
}

@media (max-aspect-ratio: 5/7) {
    nav {
        margin-top: -1rem;
    }

    .card-title {
        font-size: 7vw;
    }

    .link-card .card-title {
        font-size: 5vw;
    }

    .portfolio-card {
        height: 35vw;
        margin-top: 3vw;
        margin-bottom: 1.5vw;
    }

    h1 {
        font-size: 8.15vw;
        margin-bottom: max(-1vw, -10px);
    }

    nav ul li,
    footer ul li {
        margin-right: 0px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        font-size: 4.5vw;
    }

    .footer-links {
        max-width: 75vw;
    }

    .footer-copyright {
        margin-top: 1rem;
        line-height: 25px;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: max(1rem, 2.25vw);
        line-height: 1.25;
    }

    .image-mobile {
        display: inline;
    }

    .image-desktop {
        display: none;
    }

    .link-item img {
        max-width: min(55%, 40px);
        max-height: min(55%, 40px);
    }

    .photo {
        max-height: 85vh;
    }

    .code-menu-container a {
        flex-basis: 100%;
    }
}
