iframe {
  height: 42.18753vw;
}

@media (min-aspect-ratio: 3/2), (min-width: 1400px) {
  body {
    width: 75vw;
  }

  .photo-menu-container a {
    flex-basis: 30%;
  }

  .photo-menu-container .photo-tile .tile-title {
    font-size: max(min(2.5vw, 2.75rem), 1.5rem);
  }
}

@media (min-aspect-ratio: 3/2) and (max-width: 1000px) {
  body {
    width: 80vw;
  }

  .photo-menu-container a {
    flex-basis: 30%;
  }

  .photo-menu-container .photo-tile .tile-title {
    font-size: max(min(2.25vw, 2rem), 1.5rem);
  }
  iframe {
    height: 45vw;
  }
}

@media (min-aspect-ratio: 2/1) and (min-width: 1440px) {
  body {
    width: 75vw;
  }
}

@media (max-width: 820px) {
  iframe {
    height: 45vw;
  }
}

@media (max-aspect-ratio: 3/4) {
  iframe {
    height: 47.8125vw;
  }
}
