@media (min-aspect-ratio: 3/2), (min-width: 1400px) {
  .photo-menu-container .second-row {
    flex-basis: 22%;
  }

  .photo-menu-container .photo-tile .tile-title {
    font-size: max(min(4.5vw, 4.5rem), 1.25rem);
  }

  .photo-menu-container .second-row .photo-tile .tile-title {
    font-size: max(min(2vw, 1.75rem), 1.25rem);
  }
}

@media (min-aspect-ratio: 3/2) and (max-width: 1000px) {
  body {
    width: 80vw;
  }

  .photo-menu-container .second-row {
    flex-basis: 22%;
  }

  .photo-menu-container .second-row .photo-tile .tile-title {
    font-size: max(min(2.25vw, 2rem), 1rem);
  }
}
